<!doctype html>
<html >
  <head>

    <link rel="styleSheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="styleSheet" href="bower_components/angular-ui-grid/ui-grid.min.css"/>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="app">
    <div ng-controller="MainCtrl as mainCtrl">
      <div id="grid1" ui-grid="{ data: mainCtrl.myData }" class="grid"></div>
      <button class='btn btn-primary' ng-click="mainCtrl.callLog('hi', 'there', 'world')">Add Alert</button>
      <button class='btn btn-primary' ng-click="mainCtrl.delete()">Add Alert</button>
    </div>
  </body>
</html>